<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page - Dashboard Admin Template</title>
    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'css/tooplate.css' %}">
</head>

<body class="bg03">
    <div class="container">
        <div class="row tm-mt-big">
            <div class="col-12 mx-auto tm-login-col">
                <div class="bg-white tm-block">
                    <div class="row">
                        <div class="col-12 text-center">
                            <i class="fas fa-3x fa-tachometer-alt tm-site-icon text-center"></i>
                            <h2 class="tm-block-title mt-3">Login</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <form action="/accounts/login/" method="POST">
                                 {% csrf_token %}

                                   <div class="input-group mt-3">
                                    {% for x in dis %}
                                    <p><b><m>{{x}}</m></b></p>
                                    {% endfor %}
                                </div>
                                <div class="input-group">
                                    <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                   
                                    {{form.username}}
                                </div>
                       
                                    
                                <div class="input-group mt-3">
                                    <label for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>

                                    {{form.password}}
                                </div>

                                <div class="input-group mt-3">
                                    <button type="submit" value="Login" class="btn btn-primary d-inline-block mx-auto" href = "/display_wines/">Login</button>
                                </div>
                    
                                </form>



                               

                        
                                    

                                <form action="{% url 'accounts:signup' %}">
                                     <div class="input-group mt-3">
                                    <button type="submit" value="Signup" class="btn btn-primary d-inline-block mx-auto" href = "{% url
                                    'accounts:signup'"%}">Register</button>

                                </div>
                                </form>





                            
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row tm-mt-big">
            <div class="col-12 font-weight-light text-center">
                <p class="d-inline-block tm-bg-black text-white py-2 px-4">
                    Created by
                    <a rel="nofollow" href="" class="text-white tm-footer-link">Shreyash Shrivastava &copy;</a>
                </p>
            </div>
        </footer>
    </div>
</body>

</html>